/TheCore/TheCore/Debug
/FableWorld/Debug
/FableWorld/Release
/LevelEditor/Debug
/LevelEditor/Release
logs
/LevelEditor/FableWorld_levelEditor.sdf
.vs
Debug
bin
/FableWorld/FableWorld/Release
/FableWorld/FableWorld/FableWorld.vcxproj.user
/FableWorld/FableWorld/log.txt
/LevelEditor/LevelEditor/Release
/LevelEditor/LevelEditor/LevelEditor.vcxproj.user
